.grd{
    background: rgb(35,50,0);
  background: linear-gradient(31deg, rgba(35,50,0,1) 23%, rgba(0,0,0,1) 29%, rgba(171,0,113,1) 51%, rgba(20,0,250,0.7903536414565826) 70%);
  }

.fnt{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
