.auth-form-container,
.register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border-radius: 10px;
    margin: 0.5rem;
  }
}
input {
  margin: 0.5rem 0;
  padding: 10px;
  border:solid rgba(128, 128, 128, 0.356);
  border-radius: 10px;
}

button {
  border: none;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}
.cards{
  padding-block: 20px;
  padding-top: 10px;
}

.img {
  width: 240px;
  height:300px;
}

.zoom {
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 10px;
  transition: transform .2s;
}
.zoom:hover {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9); 
}